#main-container {
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
}

.logo {
    margin-left: 10%;
    width: 77%;
}

.dropzone {
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-form {
    margin-top: 10px;
    background-color: white;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    min-height: 40px;
    max-height: 200px;
    overflow-y: scroll;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.result-form li:first-child {
    margin-top: 10px;
}